<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Address Book Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="ajax.js"></script>
</head>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<body>

<p th:text="${addressBook.addressBookId != null}
        ? ${''}
        : 'No Address Book has been created yet'">
</p>

<div>
    <form action="#" th:action="@{/createAddressBook}" th:object="${addressBook}" method="post">
        <p><input type="submit" id="submitNewAddressBook" value="Create AddressBook"/></p>
    </form>
</div>

<div id="createNewBuddyInfoForm" hidden>
    <h1>Create BuddyInfo</h1>
    <form action="#" th:action="@{/createBuddyInfo}" th:object="${buddyInfos}" method="post">
        <p>Name: <label>
            <input type="text" th:field="*{name}"/>
        </label></p>
        <p>Phone Number: <label>
            <input type="text" th:field="*{phoneNumber}"/>
        </label></p>
        <p>Address: <label>
            <input type="text" th:field="*{address}"/>
        </label></p>
        <p><input type="submit" value="Add BuddyInfo"/>
    </form>
</div>

<div id="buddyInfoHeader" hidden>
    <h1>List of BuddyInfos</h1>
</div>

<div id="table_div">
</div>

</body>
</html>
