<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Address Book Viewer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<body>

<p th:text="${addressBook.addressBookId != null} ? ${'AddressBook Id: ' + addressBook.addressBookId} : 'No Address Book has been created yet'"></p>

<h1>List of BuddyInfos</h1>

<table>
    <thead>
    <tr>
        <th> BuddyInfo ID </th>
        <th> Name </th>
        <th> Phone Number </th>
        <th> Address </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="buddyInfo : ${buddyInfos}">
        <td><span th:text="${buddyInfo.buddyInfoId}"> ID </span></td>
        <td><span th:text="${buddyInfo.name}"> Name </span></td>
        <td><span th:text="${buddyInfo.phoneNumber}"> Phone Number </span></td>
        <td><span th:text="${buddyInfo.address}"> Address </span></td>
    </tr>
    </tbody>

</table>

</body>
</html>